/core/build/
/core/build_static/
/core/build_dll/
/interface/__pycache__
/server/build/

# Папка виртуального окружения Python
.venv/

# Папка с настройками VS Code
.vscode/

# Папки со скомпилированными файлами (build-артефакты)
build/
build_dll/
build_static/

# Файлы рабочей области VS Code
*.code-workspace

# Папки и файлы pyinstaller для сборки в exe
*.spec
interface/dist/
interface/build/